/* Variables */

$color-primary: #2ecc71;
$color-primary-dark: #27ae60;
$color-secondary: #e67e22;
$color-secondary-dark: #d35400;
$color-red: #e74c3c;
$color-red-dark: #c0392b;
$color-text: #2c3e50;

$font-main: 'PT Mono', sans-serif;

/* Styles */

body{
  background-color: $color-primary;
  margin: 0;
  padding: 0;
}

h1, h2, div, button {
  color: $color-text;
  font-family: $font-main;
}

.container {
  height: 100vh;
  position: relative;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 72px;
  line-height: 2;
  color: $color-secondary;
}

.game {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.col.col-4 {
  margin: 10px auto;
  max-width: 100%;
}

.choose h2 {
  font-size: 36px;
  margin: 15px 0;
}

.btn-game {
  text-decoration: none;
  background-color: $color-secondary;
  border-color: $color-secondary-dark;
  height: 60px;
  width: 100px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.display {
  background-color: $color-primary-dark;
  border: 1px $color-primary-dark solid;
  border-radius: 6px;
  padding: 5px 0;
}

.messages.col.col-4 {
  min-height: 63px;
  max-width: 400px;
  margin-top: 30px;
}

.messages div {
  margin: 5px;
}

.scoreboard {
  width: 200px;
  position: absolute;
  right: 0;
}

.player {
  margin-bottom: 5px;
}

.reset {
  position: absolute;
  bottom: 10%;
  right: 0;
}

.btn-reset {
  background-color: $color-red;
  border-color: $color-red-dark;
  height: 40px;
}
